<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org/">
<head th:replace="fragments::head"></head>
<body class="container">
    <h1 th:text="${title}">My Cheeses Default</h1>

    <nav th:replace="fragments::navigation"></nav>

    <p th:fragment="empty_list_message" th:unless="${cheeses} and ${cheeses.size()}">no cheeses, sorry</p>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>

        <tr th:each="cheese: ${cheeses}">
<!--            <td th:text="${cheese.key}"></td>
            <td th:text="${cheese.value}"></td>
            -->
            <td th:text="${cheese.name}"></td>
            <td th:text="${cheese.description}"></td>
        </tr>
    </table>
</body>
</html>